main{
    width: 400px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
main > div{
    display: flex;
    display: flex;
    padding: 3px 0;
}
main > div > input{
    margin-left: auto;
    width: 300px;
}
main > div > input[type=checkbox]{
    width: auto;
    margin: auto;
}
main > div > input[type=text]{
    border: 1px solid #e1e1e1;
}
button, label{
    cursor: pointer;
}
.isActive{
    float: right;
}
#loginData_save{
    background-color: #006ba1;
    color: #fff;
    border: 0;
    padding: 3px 15px;
}